*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: block;
}

p {
  font-size: 13px;
  padding-bottom: 10px;
  line-height: 22px;
  text-align: justify;
}

nav.page-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 30px;
}

nav.page-navbar .logo-type {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin-left: 5%;
  width: 100%;
  min-height: 60px;
  max-width: 130px;
}

nav.page-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.page-navbar ul li {
  margin-right: 10px;
}

nav.page-navbar ul li :hover {
  border-top: 2px solid orangered;
}

nav.page-navbar ul li a {
  text-decoration: none;
  color: black;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}

section#home .container-item {
  margin-left: 10%;
  max-width: 30%;
}

section#home h1 {
  font-weight: bold;
  font-size: 40px;
}

section#about-us {
  background-color: rgba(0, 128, 128, 0.788);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  height: 950px;
  color: #fff;
}

section#about-us .container-item {
  max-width: 30%;
  margin-left: 10%;
}

section#about-us img {
  width: 100%;
}

section#about-us h1 {
  font-size: 45px;
}

section#our-services {
  height: 800px;
  background-color: lightskyblue;
  background-image: url(../img/services-background.png);
  background-repeat: no-repeat;
  background-position: 75%;
  padding: 0 10% 0 10%;
}

section#our-services .container-item {
  width: 100%;
  margin-right: 5%;
  margin-left: 5%;
}

section#our-services .container-item-item {
  width: 70%;
  height: 100px;
  margin-bottom: 15px;
  padding: 20px 30px;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(22, 22, 22, 0.3);
  -webkit-box-shadow: -3px 3px rgba(22, 22, 22, 0.3);
          box-shadow: -3px 3px rgba(22, 22, 22, 0.3);
  cursor: pointer;
}

section#our-services .services--icon {
  display: inline;
  min-width: 55px;
  width: 30%;
  height: 55px;
  border-left: 1px solid black;
  background-repeat: no-repeat;
}

button {
  height: 40px;
  width: 200px;
  -webkit-box-shadow: 2px 2px rgba(22, 22, 22, 0.3);
          box-shadow: 2px 2px rgba(22, 22, 22, 0.3);
}

.getFree-orange {
  border: 1px solid orangered;
  background-color: orangered;
  color: white;
}
/*# sourceMappingURL=style.css.map */